<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-4">
      <h4 class="text-color">Welcome to the second screen</h4>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top image" [src]="user.image" alt="Card image cap">
        <div *ngIf='user.provider != "password"'class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
          <p class="card-text">This is sample task using firebase authentication and Angular.</p>
        </div>
        <div *ngIf='user.provider == "password"'class="card-body">
          <form [formGroup]="profileForm">
            <div class="form-group">
              <label>Your name</label>
              <input type="text" formControlName="name" class="form-control" required>
            </div>
          </form>
          <a (click)="save(profileForm.value)" class="btn btn-primary">Save</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button type="button" (click)="logout()" class="btn btn-success">Logout</button>
    </div>
  </div>
</div>
